extends ./layout.jade

block content
  ul
    li #{description}
      img(src='#{link}')
      p #{author}

    form(method="PUT" action="/edit_method?=PUT")
      input(type="submit" value="EDIT")

    form(action="/edit_method?=DELETE" method="DELETE")
      input(type="submit" value="DELETE")