<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  ul
    each photo in photos
      li #{photo.description}
        img(src='#{photo.link}')
        p #{"taken by: " + photo.author}

