<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title login
body
  h1 Sign in
    form(method="POST" action="login")
      p username:
      input(type="text" name="username")
      p password:
      input(type="password" name="password")
      button(type="submit") Login