<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  form(name="get photo")
    input(type="text", name="author")
    input(type="text", name="link")
    input(type="text", name="description")
