extends ./layout.jade

block content
  body
    h1 New Photo
    form(name="get photo")
      input(type="text", name="author" value="Author")
      input(type="text", name="link" value="Link")
      input(type="text", name="description" value="Description")
      input(type="submit", value="Submit")
