extends ./layout.jade

block content
  body
    h1 New Photo
    img(src='#{link}')
    form(method="POST" action="/gallery/new")
      input(type="text", name="author" value="Author")
      input(type="text", name="link" value="Link")
      input(type="text", name="description" value="Description")
      input(type="submit", value="Submit")
