extends ./layout.jade

block content
  body
    h1 New Photo
    img(src='#{link}')
    form(method="POST" action="/gallery/new")
      input(type="text", name="author" value="#{author}")
      input(type="text", name="link" value="#{link}")
      input(type="text", name="description" value="#{description}")
      input(type="submit", value="Submit")
